<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

    <div class="page-container"> 

  

        <header > 
            <div class="logo">
                <img src="images/images.png" alt="Logo">
            </div>
            <h1>Company Name</h1>

            <nav id="mainnav"> 
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav> 
        </header> 
 

 

  

        <div class="main-container"> 

            <h1>maincontent</h1>
            <h1>maincontent</h1>   


        </div> 

  

        <footer>
            <h2>Discover</h2>
            <ul>
                <li><a>filler</a></li>
                <li><a>filler</a></li>
                <li><a>filler</a></li>
                <li><a>filler</a></li>
            </ul> 
            <h2>About</h2>
             <ul>
                <li><a>filler</a></li>
                <li><a>filler</a></li>
                <li><a>filler</a></li>
                <li><a>filler</a></li>
            </ul> 
            <h2>Services</h2>
             <ul>
                <li><a>filler</a></li>
                <li><a>filler</a></li>
                <li><a>filler</a></li>
                <li><a>filler</a></li>
            </ul> 
            <h2>Buy</h2>
             <ul>
                <li><a>filler</a></li>
                <li><a>filler</a></li>
                <li><a>filler</a></li>
                <li><a>filler</a></li>
            </ul> 
            <h2>Help</h2>
             <ul>
                <li><a>filler</a></li>
                <li><a>filler</a></li>
                <li><a>filler</a></li>
                <li><a>filler</a></li>
            </ul> 
            <p>Copyright © 2024 Company Name. All rights reserved.</p>
        </footer> 

  

    </div> 
</html>